.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.content {
  display: flex;
  align-self: center;
  max-width: 600px;
  width: 100%;

  form {
    width: 100%;
  }
}

.formActions {
  :global(.ant-form-item-control-input-content) {
    display: flex;
    justify-content: center;
  }
}

.formLoginItem {
  display: grid;
  grid-template-columns: 14% 86%;
}
